<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Settlement</title>
    <style media="screen">
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	box-shadow: 0 1px 2px #d1d1d1;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}
table tr:hover td {
	background: #f2f2f2;
}
    </style>
  </head>
  <body>
    <table>
        <tr>
          <td></td>
          {% for crediter in crediters %}<td>{{ crediter[0] }} (+{{ crediter[1] | round(2) }})</td>{% endfor %}
        </tr>
        {% for debiter in debiters %}
        <tr>
          <td>{{ debiter[0] }} (-{{ debiter[1] | round(2) }})</td>
          {% for crediter in crediters %}
            {% set due_amount = results[debiter[0]][crediter[0]] | round(2) %}

            <td>{% if due_amount != 0.00 %}{{due_amount}}{% endif %}</td>
          {% endfor %}
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
